var fancyLog = require('fancy-log');

var config = {
    "host":     "example.com",
    "user":     "USER",
    "password": "PASSWORD",
    "parallel": 10,
    "path":     "domains/warframe-mastery.com/private_html",
    "log":      fancyLog
};

module.exports = config;
