<h2>Help</h2>

<h3>Legend</h3>
<p><i class="legend-icon icon-check-empty"></i> Item are un-checked</p>
<p><i class="legend-icon icon-check"></i> Item are checked</p>
<p><i class="legend-icon icon-star-empty"></i> Item rating (1 to 3 stars)</p>
<p><i class="legend-icon icon-lock"></i> Item are currently vaulted</p>
<p><i class="legend-icon icon-attention"></i> Item are unobtainable</p>
<p><i class="legend-icon icon-puzzle"></i> Item are a component (save this item in your Inventory)</p>
<p><i class="legend-icon icon-link-ext"></i> External link, will open in a new tab</p>
<p><span class="legend-color legend-vaulted"></span> Item are vaulted</p>
<p><span class="legend-color legend-unobtainable"></span> Item are unobtainable</p>

<p><img src="include/images/legend-v3.png" id="legend-image" alt="Site legend"></p>

<h3>Useful links</h3>
<ul>
    <li><a href="https://drops.warframestat.us/" target="_blank"><b>Drop Data (easily searchable)</b></a></li>
    <li><a href="http://www.warframe.com/droptables" target="_blank"><b>Official Drop Rates &amp; Locations</b></a></li>
    <li><a href="https://www.cephalonwannab.com/" target="_blank"><b>i_wanna_b_the_guy's Tier List</b></a></li>
    <li><a href="https://overframe.gg/" target="_blank"><b>Overframe.gg - Best site for builds</b></a></li>
    <li><a href="https://www.tenno.zone/planner/" target="_blank"><b>Tenno Zone's guide to find relics</b></a></li>
    <li><a href="https://www.framemastery.com/" target="_blank"><b>FrameMastery.com - Guides for everything</b></a></li>
    <li><a href="http://content.warframe.com/dynamic/worldState.php" target="_blank">Official World-state API</a></li>
    <li><a href="https://hub.warframestat.us" target="_blank">Warframe Hub</a></li>
    <li><a href="https://semlar.com/fish" target="_blank">Guide to fishing</a></li>
    <li><a href="https://warframeguide.com/resources-farming-in-warframe/" target="_blank">Guide to resource farming</a></li>
    <li><a href="https://warframe.fandom.com/wiki/Mastery_Rank" target="_blank">All about mastery rank</a></li>
</ul>

<h3>Notes</h3>
<p><b>Unobtainable items</b></p>
<p>Three items are considered "Unobtainable" since they were only accessible from the <a href="https://warframe.fandom.com/wiki/Founders" target="_blank">Founder Packages</a> and are removed from this app:</p>
<ul>
    <li><a href="https://warframe.fandom.com/wiki/Excalibur_Prime" target="_blank">Excalibur Prime</a></li>
    <li><a href="https://warframe.fandom.com/wiki/Lato_Prime" target="_blank">Lato Prime</a></li>
    <li><a href="https://warframe.fandom.com/wiki/Skana_Prime" target="_blank">Skana Prime</a></li>
</ul>
<p><b>Fully ranked items</b></p>
<p>Two items comes fully ranked and will add to mastery once obtained:</p>
<ul>
    <li><a href="https://warframe.fandom.com/wiki/Excalibur_Umbra" target="_blank">Excalibur Umbra</a></li>
    <li><a href="https://warframe.fandom.com/wiki/Skiajati" target="_blank">Skiajati</a></li>
</ul>
<p><b>Unique items</b></p>
<p><a href="https://warframe.fandom.com/wiki/Khora" target="_blank">Khora's</a> companion Venari will grant 6000 points towards mastery rank.</p>
<p>Several items can reach level 40 and grant an additional 1000 points:</p>
<ul id="help-modal-unique-items-list">
    {{#each this.array}}
        {{#if this.maxLevelCap}}
            <li><a href="{{this.wikiaUrl}}" target="_blank">{{this.name}}</a></li>
        {{/if}}
    {{/each}}
</ul>

<h3>I'm MR-30, what do I do?</h3>
<p>Check all items by typing this in browser console:</p>
<p><code>app.item.checkAll()</code></p>
<p>Logout and login to flush the local storage</p>
<p>Search for 'Unobtainable' and remove all Founders items</p>
<p>Search for 'Login reward' and check those items</p>
<p>Search for 'Kuva' and check all items obtained from Kuva Liches</p>
<p>Open Stats and check all categories against in-game menu if the numbers don't add up</p>


<h3>Functions</h3>
<p>Check all items</p>
<p><code>app.item.checkAll()</code></p>
<p>Uncheck all items</p>
<p><code>app.item.unCheckAll()</code></p>
<p>Copy data for checked items to clipboard (Works for Chrome):</p>
<p><code>copy(app.storage.list())</code></p>
<p>Import data</p>
<p><code>app.import.showModal()</code></p>
<p>Export data</p>
<p><code>app.export.showModal()</code></p>
<p>Download CSV</p>
<p><code>app.export.csv()</code></p>

<h3>About this app</h3>
<p>UX, frontend &amp; backend by <a href="https://andersbrandt.se/">Anders Brandt</a></p>
<p>Item data are supplied by <a href="https://github.com/WFCD/" target="_blank">Warframe Community Developers</a> repo
    <a href="https://github.com/WFCD/warframe-items/" target="_blank">warframe-items</a>, thank you guys!</p>
<p>Tier-list are supplied by <a href="https://www.cephalonwannab.com/" target="_blank">i_wanna_b_the_guy's Tier List</a>
</p>
<p>
    <b>Data fetched:</b><br />
    {{ fetched }}
</p>

<h3>Privacy</h3>
<p>We will not store any personal information. Login are delegated to Google using <a target="_blank" href="https://developers.google.com/api-client-library/">Google API Client</a></p>
<p>The only data we store are your <a target="_blank" href="https://www.google.com/search?q=what%27s+my+google+id">public Google ID</a>. Your ID is used in a obfuscated format in this app.</p>
<p>Your firstname (displayed in user-menu) are stored in session only, and never stored in database or on disk.</p>
<p><b>We will not send you emails or store your email-address.</b></p>

<a class="close-reveal-modal" aria-label="Close">&#215;</a>

<div class="text-right">
    <button type="button" class="btn btn-default action-close-modal">Close</button>
</div>
