<div id="user-wrapper">
    <h2>User</h2>
    <p>
        <a class="action-modal-import">Import data from array</a><br />
        <a class="action-modal-export">Export data as array</a><br />
        <a class="action-modal-csv">Download data as CSV</a>
    </p>
    <hr />
    <p>
        Signed in as <b>{{this.firstName}}</b><br>
    </p>
    <p><a class="button" href="../user/logout.php">Logout</a></p>
</div>

<a class="close-reveal-modal" aria-label="Close">&#215;</a>
