<h1>Beginners guide to Warframe</h1>
<h2>What starter equipment should i choose?</h2>
<ul>
	<li>Warframe: Excalibur. His fourth ability, Exalted Blade, is great for clearing Junctions between planets.</li>
	<li>Melee: Mk1-Bo. This Staff is the most powerful of all starter weapons.</li>
	<li>Primary &amp; Secondary: Doesn't really matter, just pick the coolest one. Mk1-Paris &amp; Lato are a popular combination.</li>
</ul>
<h2>What should I do?</h2>
<ul>
	<li>Unlock planets by completing junctions until you reach Pluto. Complete Pluto to recieve a mission called &quot;The War Within&quot;.</li>
	<li>Level frames, acquire weapons and strengthen mods with Endo.</li>
	<li>Rank items to level 30 to get Mastery Rank.</li>
	<li>Play all available quest.</li>
</ul>
<h2>How do I do that?</h2>
<ul>
	<li>Clear a path to each planets Junction, then check the requirement for that Junction. Complete the list. Move on to the next planet.</li>
	<li>Your first goal is Fossa on Venus. Repeat Fossa until you have required all parts for Rhino. Build all the parts needed, then buy the blueprint for Rhino in Market to build the complete frame. Rhino is a tank and very durable, and will help you to progress. </li>
	<li>Your second goal should be unlocking Seimeni on Ceres. Seimeni is a great credit-farm, and you will need credits.</li>
	<li>Next goal is Helene on Saturn. Helene is a great affinity-farm (XP) and will help in leveling weapons and frames.</li>
	<li>Acquire more frames and weapons by farming Assasination missions on each planet.</li>
	<li>Unlock Sedna Junction on Pluto. This will reward you with a mission called &quot;The War Within&quot;. Complete this mission to unlock the final part of Warframe, where the fun really begins :)</li>
</ul>
<h2>What do I need to know before i proceed?</h2>
<ul>
	<li>Do not spend platinum on anything else than slots for frames and weapons.</li>
	<li>You will gain affinity (XP) from your team-members kills. No need to chop up all those enemies yourself.</li>
	<li>You will lose affinity if you die. Wait for a team-member to revive you.</li>
	<li>Your gain mastery ranking by leveling items to level 30.</li>
	<li>You can sell items to clear out slots: Menu &gt; Equipment &gt; Inventory</li>
	<li>Most weapons you can acquire early on are trash. Check <a href="https://www.cephalonwannab.com/">cephalonwannab.com/</a> for info on what weapons to keep.</li>
	<li>The game will not provide much help, so you need to use Google to learn about the game, or check the <a href="https://warframe.fandom.com/wiki">Warframe Wikia</a>.</li>
	<li>Certain resources are hard to find. Do not spend your <b>Neurodes</b>, <b>Orokins Cells</b> or <b>Neural Sensors</b> on weapons until you know where to acquire these resources.</li>
	<li>Cheap weapons to level are available in the Market. Start by searching for &quot;mk1&quot; for weapons that comes pre-built. Continue with blueprints that can be bought with credits.</li>
	<li>Clans have labs that sell blueprints. Clan-members can also help you on your journey. You should join a clan.</li>
</ul>
<h2>How should I spend my platinum?</h2>
<ul>
	<li>Do not spend platinum on anything else than slots for frames and weapons. Seriously.</li>
</ul>
<h2>Where do I find resources?</h2>
<ul>
	<li>There are 2 important resources you will need as a beginner: Endo &amp; Credits. Use these to upgrade your Mods.</li>
	<li>Dissolving duplicate mods are a great way to get <b>Endo</b>. This can be done in the Mod Station on your Orbiter. Sort mods by Duplicates, select a few, and then Dissolve.</li>
	<li>Bounties on Necralisk, Deimos often have <b>Endo</b> as reward.</li>
	<li>Seimeni on Ceres is a great <b>Credit</b> farm. Bonus credits will be rewarded after the first 5 waves, then repeat mission.</li>
	<li>Seimeni on Ceres is also a great farm for <b>Orokin cells</b>.</li>
	<li>ProGameTalk have a <a href="https://progametalk.com/warframe/resources/" target="_blank">guide for farming all resources</a>.</li>
</ul>
<h2>How do I level items to 30?</h2>
<ul>
	<li>Equip only one single weapon, focusing on one item will make leveling more efficient since affinity (XP) are divided for all weapons you are carrying.</li>
	<li>Defence missions are great for more focused leveling. Helene on Saturn &amp; Hydron on Sedna are the most popular defence missions for leveling.</li>
	<li>Sanctuary Onslught are unlocked after completion of the mission "The New Strange". The Elite version are great for leveling.</li>
	<li>Simple low-effort version: Just equip un-ranked items during regular gameplay. Passive leveling for the win!</li>
	<li>Hang out at Relays until you get the Affinity Blessing. This blessing will provide a 25% boost to leveling.</li>
</ul>
<h2>What quests are important? In what order should i do things?</h2>
<ul>
	<li>Start by completing the quest "The War Within".</li>
	<li>Get the Umbra mods from the quest "The Sacrifice". This quest is unlocked after finishing "Apostasy Prologue" &amp; "Chains of Harrow".</li>
	<li>Get a decent amp for your operator by doing missions night-time on Plains of Eidolon, and then trading Sentient Cores for standings with The Quills.</li>
	<li>Get the Helminth Upgrade Segment by doing bounties on Deimos and gaining standing with the Entrati family. The Helminth has the ability to replace Warframe Abilities with those of other Warframes or even unique ones.</li>
	<li>Railjacks ara fun! Get one by completing the quest "Rising Tide".</li>
	<li>Finish all nodes on the starchart, and unlock Steel Path &amp; Arbitrations. This is harder content with greater rewards than regular gameplay.</li>
	<li>Complete the quests "The New War" &amp; "Veilbreaker" to unlock Archon Hunts. Archon Hunt will award Archon Shards, which greatly improve your warframes.</li>
	<li>Always try to unlock as many rewards as possible in Nightwave each season.</li>
</ul>
<h2>Are there other guides?</h2>
<ul>
	<li><a target="_blank" href="https://lootandgrind.com/warframe-tips-and-tricks-for-beginners/">Loot &amp; Grind have an excellent "25 Tips and Tricks" guide</a></li>
	<li><a target="_blank" href="https://www.warframe.com/news/what-to-do-after-completing-vors-prize">DE's official Guide</a></li>
	<li><a target="_blank" href="https://www.thegamer.com/warframe-beginner-mods-weapons-upgrades/#what-to-do-after-the-tutorial">The Gamer's guide</a></li>
</ul>
