<h1>Beginners guide to Warframe</h1>
<h2>What should I do?</h2>
<ul>
<li>Unlock planets by completing junctions until you reach Pluto. Complete Pluto to recieve a mission called &quot;The War Within&quot;.</li>
<li>Level frames, acquire weapons and strengthen mods with Endo.</li>
<li>Play all available quest.</li>
</ul>
<h2>How do I do that?</h2>
<ul>
<li>Clear a path to each planets Junction, then check the requirement for that Junction. Complete the list. Move on to the next planet.</li>
<li>Your first goal is Fossa on Venus. Repeat Fossa until you have required all parts for Rhinos. Build all the parts needed, then buy the blueprint for Rhino in Market to build the complete frame. Rhino is a tank and very durable, you will need Rhino to progress. </li>
<li>Your second goal should be unlocking Seimeni on Ceres. Seimeni is a great credit-farm, and you will need credits. </li>
<li>Next goal is Helene on Saturn. Helene is a great affinity-farm (XP) and will help in leveling weapons and frames.</li>
<li>Acquire more frames and weapons by farming Assasination missions on each planet.</li>
<li>Unlock Sedna Junction on Pluto. This will reward you with a mission called &quot;The War Within&quot;. Complete this mission to unlock the final part of Warframe, where the fun really begins :)</li>
</ul>
<h2>What do I need to know before i proceed?</h2>
<ul>
<li>Do not spend platinum on anything else than slots for frames and weapons.</li>
<li>You will gain affinity (XP) from your team-members kills. No need to chop up all those enemies yourself.</li>
<li>You will lose affinity if you die. Wait for a team-member to revive you.</li>
<li>Your gain mastery ranking by leveling items to level 30.</li>
<li>You can sell items to clear out slots: Menu &gt; Equipment &gt; Inventory</li>
<li>Most weapons you can acquire early on are trash. Check <a href="https://www.cephalonwannab.com/">cephalonwannab.com/</a> for info on what weapons to keep.</li>
<li>The game will not provide much help, so you need to use Google to learn about the game, or check the <a href="https://warframe.fandom.com/wiki">Warframe Wikia</a>.</li>
<li>Certain resources are hard to find. Do not spend your <em>Neurodes</em>, <em>Orokins Cells</em> or <em>Neural Sensors</em> on weapons until you know where to acquire these resources.</li>
</ul>
<h2>How should I spend my platinum?</h2>
<ul>
<li>Do not spend platinum on anything else than slots for frames and weapons. Seriously.</li>
</ul>
<h2>Where do I find resources?</h2>
