<div id="eidolon-clock">
    <div class="clock-title">PLANES OF EIDOLON</div>
    <div class="time time-box">
        <div class="time-indicator"></div>
        <div class="big-hour hour"></div>
        <div class="big-hour-divider">:</div>
        <div class="big-minute minute"></div>
        <div class="big-hour-divider">:</div>
        <div class="big-second second"></div>
    </div>
    <div class="time-info">
        until <span class="day"></span>
    </div>
    <div id="warning-container"></div>
</div>

<div id="orbvallis-clock" class="">
    <div class="clock-title">ORB VALLIS</div>
    <div class="weather time-box">
        <div class="time-indicator"></div>
        <div class="big-minute minute"></div>
    </div>
    <div class="time-info">
        until <span class="next-period"></span>
    </div>
</div>

<a class="close-reveal-modal" aria-label="Close">&#215;</a>
