<div id="filter">
    <span id="filter-clear" class="action-clear-search">Clear <i class="icon-cancel"></i></span>
    <label for="filter-all" class="action-activate-filter">
        <input type="radio" name="filter-status" class="filter-status" value="all" id="filter-all" checked>
        <span>All</span>
    </label>
    <label for="filter-ranked" class="action-activate-filter">
        <input type="radio" name="filter-status" class="filter-status" value="ranked" id="filter-ranked">
        <span>Ranked</span>
    </label>
    <label for="filter-unranked" class="action-activate-filter">
        <input type="radio" name="filter-status" class="filter-status" value="unranked" id="filter-unranked">
        <span>Unranked</span>
    </label>
</div>

<div id="search-indicator">
    <i class="icon-search"></i><span id="search-indicator-string"></span>Showing <span id="search-indicator-value">443</span>
</div>
