<!--
<div class="panel callout radius">
    Note: Data are stored locally in this browser only, do not empty browser cache without exporting data first! <a href="about.php">Read more on the About-page</a>
</div>
-->

