<input type="text" id="search" name="search" onkeyup="app.search.action()" placeholder="Search name, type, category or acquisition" autocomplete="off" />
<div id="search-clear" class="action-clear-search"><i class="icon-cancel"></i></div>
