<div class="row">
    <div class="column small-12 medium-12">
        <div id="ranked-indicator" title="">
           <span>Ranked:</span> <b id="checked-items-value">{{checkedItems}}</b> / <b>{{availableItems}}</b>
        </div>
    </div>
</div>
