//
//  Foundation style overrides
//
ul.title-area {
  li.name h1 a {
    padding-left: 0;
    font-weight: 700;
    text-transform: uppercase;
    color: $body-font-color-bright;
    &:hover {
      color: $white;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $body-font-color;
}

h3 {
  margin-top: 1em;
}

.panel {
  margin-top: 18px;
}

.top-bar {
  margin-top: 18px;
  li:last-child  a {
    padding-right: 0 !important;
  }
  .toggle-topbar.menu-icon {
    width: 50px;
  }
  .icon-user {
    width: 16px;
    &::before {
      width: auto;
      margin-right: 0;
    }
  }
}

#nav {
  padding-top: 4px;
}
//
// Custom
//
.margin-top-small {
  margin-top: 8px;
}

.margin-bottom-small {
  margin-bottom: 8px;
  display: inline-block;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-medium {
  margin-top: 14px;
}

.padding-right-small {
  padding-right: 8px;
}

.padding-right-medium {
  padding-right: 14px;
}

.icon-2x {
  font-size: 2em;
}

.icon-3x {
  font-size: 3em;
}

.icon-star-empty:before {
  margin-left: 0;
  margin-right: 0.2em;
}

a.white-link {
  color: $body-font-color;
  &:hover {
    color: $white;
  }
}

//
//  App
//
img#header-logo {
  width: 232px;
  margin-right: 10px;
  vertical-align: middle;
}

#spinner {
  padding-top: 100px;
  text-align: center;
  color: $white;
}
.spinner-loaded {
  display: none;
}

#ranked-indicator {
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 22px;
  color: $body-font-color-bright;
  padding: 4px 0;
  display: inline-block;
  float: right;
  span {
    font-size: 16px;
  }
}

#search-placeholder {
  @include clearfix();
}

#search {
  font-size: 22px;
  padding: 22px 12px 22px 14px;
  margin-bottom: 0;
  background-color: lighten($background-color, 5%); // TODO
  float: left;
  color: $body-font-color;
  border-color: $border-color;
  &::placeholder {
    font-size: 15px;
    opacity: 1;
    color: $body-font-color;
    line-height: 2em;
  }
  &:focus {
    background-color: $wf-light-1;
    border-color: $color-blue;
    box-shadow: $color-blue 0 0 2px;
    color: $white;
  }
}
#search-clear {
  float: right;
  margin-top: -43px;
  margin-right: 3px;
  color: $link-color;
  cursor: pointer;
  font-size: 22px;
  display: inline-block;
  padding: 7px;
  &:hover {
    color: $white;
  }
}

#filter-placeholder {
  @include clearfix();
  margin-top: 4px;
}

#filter {
  float: left;
  margin-top: 10px;
  margin-right: 4px;
  color: $body-font-color;
  #filter-clear {
    padding: 0 10px 3px 16px;
    display: inline-block;
    font-size: 14px;
    color: $link-color;
    cursor: pointer;
    &:hover {
      color: $white;
      outline: none !important;
    }
    &:focus {
      color: $white;
      outline: none !important;
    }
  }
  #filter-label {
    display: inline-block;
    margin-right: 4px;
  }
  label {
    display: inline-block;
    margin-bottom: 4px;
    outline: none !important;
    span {
      display: inline-block;
      padding: 2px 10px;
      border: 1px solid $color-blue;
      margin-right: 6px;
      color: $color-blue;
      line-height: 22px;
      outline: none !important;
      &:hover {
        color: scale-color($link-color, $lightness: -14%); 
        border-color: scale-color($link-color, $lightness: -14%); 
      }
    }
  }
  input {
    margin: 8px;
    display: none;
    &:checked + span{
      color: $white;
      border-color: $white;
    }
  }
}

#search-indicator {
  font-size: 16px;
  float: right;
  margin-top: 12px;
  margin-bottom: 22px;
  margin-right: 4px;
  color: $body-font-color;
  .icon-search {
    display: inline-block;
    padding-right: 4px;
    font-size: 14px;
    position: relative;
    top: -1px;
  }
  #search-indicator-value {
    font-weight: bold;
  }
}

.group {
  padding-bottom: 22px;
  margin-bottom: 22px;
  border-bottom: 2px solid $border-color;
  @include clearfix();
}

ul#all-items {
  margin-left: 0;
  margin-top: 12px;
}

.thumbnail-wrapper {
  margin-bottom: 10px;
  width: 256px;
  height: 230px;
}

.thumbnail {
  max-width: 226px;
	max-height: 230px;
}

li.item {
  list-style: none;
  line-height: normal;
  background-color: $color-item-unchecked;
  padding: 10px 10px 10px 14px;
  margin-bottom: 22px;
  border-left: 2px solid $color-item-unchecked;
  &.item-vaulted {
    border-left: 2px solid $color-yellow;
  }
  &.item-unobtainable {
    border-left: 2px solid $color-red;
  }
  &.item-checked {
    background-color: $color-item-checked;
    border-left: 2px solid $color-item-checked;
    .check {
      .icon-check-empty, .icon-check {
        color: $body-font-color;
      }
    }
    &.item-vaulted {
      border-left: 2px solid $color-item-checked;
    }
    &.item-unobtainable {
      border-left: 2px solid $color-item-checked;
    }
  }
  &.selected {
    //border-color: red;
  }
  &.active {
    background-color: $white;
    border-bottom: 1px solid $border-color;
    .name {
      text-decoration: underline;
    }
  }
  .name {
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
  }
  h2 {
    i {
      font-size: 18px;
    }
  }
  .tier-rank {
    display: inline-block;
    margin-left: 4px;
    cursor: pointer;
    .icon-star-empty {
      font-size: 12px;
      width: 16px;
      height: 16px;
    }
  }
  .acquisition {
    font-style: italic;
    display: inline-block;
    padding-left: 6px;
    cursor: pointer;
  }
  .component {
    display: inline-block;
    margin-left: 4px;
    cursor: pointer;
  }
  .check {
    display: inline-block;
    margin-top: 6px;
    cursor: pointer;
    float: right;
    .icon-check, .icon-check-empty {
      width: 32px;
      height: 32px;
    }
    .icon-check-empty {
      margin-right: 2px;
    }
  }
  .specification {
    margin-top: 4px;
  }
  .wikia-link {
    display: inline-block;
    margin-left: 4px;
    &:hover {
      color: $white;  
    }
  }
  .data {
    display: none;
    margin-top: 10px;
    border-top: 1px solid $border-color;
    padding-top: 10px;
    p {
      margin-bottom: 2px;
    }
  }
  .mastery-icon {
    width: 32px;
    position: relative;
    top: -5px;
  }

}
#status-placeholder {
  margin-bottom: 12px;
  p {
    margin-bottom: 4px;
  }
}

.left-right-table {
  td {
    padding-top: 6px;
    padding-right: 10px;
    vertical-align: top;
    line-height: 1.4em;
    hr {
      margin-top: 16px;
      margin-bottom: 14px;
      border-color: $body-font-color-bright;
    }
  }
  .table-left {
    font-weight: bold;
  }
  .table-right {
    width: 100%;
  }
}

//
//  Modals
//
.reveal-modal.open {
  outline: none;
}

#export-data-placeholder {
  background-color: $silver;
  border: 1px solid $border-color;
  padding: 10px;
  font-family: monospace;
  word-break: break-all;
  color: $black;
}
textarea#import-data {
  color: $black;
}
.close-reveal-modal:hover {
  color: $color-red;
}

@media only screen and (min-width: 0px) and (max-width: 640px) {
  .reveal-modal {
    max-width: 90%;
    left: 15px;
    top: 15px;
  }
}

//
//  Page: Help
//
#help-modal {
  h5 {
    font-weight: bold;
		margin-top: 22px;
  }
	.legend-icon {
		margin-right: 6px;
	}
	#legend-image {
		margin-top: 8px;
		width: 425px;
	}
	.legend-color {
		display: inline-block;
		width: 16px;
		height: 18px;
		margin-right: 11px;
		vertical-align: sub;
		&.legend-vaulted {
			background-color: $color-yellow;
		}
		&.legend-unobtainable {
			background-color: $color-red;
		}
	}
}

//
//  Page: News
//
ul#news-list {
  margin-left: 0;
  li {
    list-style-type: none;
    margin-bottom: 12px;
    .news-date {
      font-size: 14px;
      color: $body-font-color-darker;
    }
    .news-url {
      font-size: 14px;
      color: $body-font-color-darker;
      a {
        color: $body-font-color-darker;
        &:hover {
          color: $white;
        }
      }
    }
  }
}

//
//	Page: Guide
//
#guide-placeholder {
	h2 {
		font-size: 24px;
		margin-top: 24px;
	}
	li {
		margin-bottom: 6px;
	}
}

//
//  Page: Stats
//
#stats-placeholder {
  
  h2 {
    margin-bottom: 32px;
  }
  
  table {
    margin-bottom: 42px;
    th {
      text-align: left;
      padding-right: 12px;
      padding-bottom: 4px;
      border-bottom: 1px solid $body-font-color;
    }
    td {
      padding-top: 2px;
      padding-bottom: 4px;
    }
    td.name {
      padding-right: 12px;
    }
    td.ranked {
      padding-right: 12px;
      text-align: right;
    }
    td.unranked {
      padding-right: 12px;
      text-align: right;
      font-weight: bold;
    }
    td.xp {
      padding-right: 12px;
      text-align: right;
    }
    td.total {
      padding-right: 12px;
      text-align: right;
    }
    tr.divider {
      border-top: 1px solid $body-font-color;
      td {
        padding-top: 8px;
      }
    }
  }

  .stats-item {
    padding-bottom: 24px;
    .name {
      font-size: 18px;
    }
  }
}

//
//	Page: MR
//
#mr-placeholder {
	.action-toggle-info:hover {
		text-decoration: underline;
		cursor: pointer;
	}
	.mr-item-not-checked {
		color: $wf-blue;
	}
	.mr-item-checked {
		//font-weight: normal;
	}
}
//
//  Footer
//
#footer {
  margin-top: 22px;
  margin-bottom: 42px;
  text-align: right;
  display: none;
  .inner {
    background-color: $silver;
    margin-top: 40px;
    padding: 0 20px;
    @include clearfix;
  }
}

//
//	Maintainer needed
//
#maintainer-needed-wrapper {
	background-color: $wf-light-1;
	padding: 16px;
	border-radius: 6px;
	margin: 86px 10px 52px 10px;
	p {
		margin-bottom: 6px;
		b {
			color: $wf-yellow;
		}
	}
}

//
//  Media queries
//

// 1024px
@media only screen and (min-width: 0px) and (max-width: $medium-breakpoint) {
  .top-bar-section ul {
    margin-top: 16px;
    background-color: $wf-color-darkest;
    li {
      background-color: $wf-color-darkest;
      &:hover {
        background-color: $wf-color-darkest !important;
      }
      a:hover {
        background-color: $wf-color-darkest !important;
      }
    }
  }
}

// 700px
@media only screen and (min-width: 0px) and (max-width: 700px) {
  #filter {
    float: none;
    #filter-clear {
      padding-left: 2px;
    }
  }

  #search-indicator {
    float: none;
  }
}

// 640px
@media only screen and (min-width: 0px) and (max-width: $small-breakpoint) {
  li.item .acquisition,
  li.item .mastery-rank
  {
    display: none;
  }
}
