//
//  Variables
//
$wf-color-darkest: #0d131c;
$wf-color-0: #121a26; // Not used
$wf-color-1: #1C2834; // Not used
$wf-color-2: #17212f;
$wf-light-0: #1f3144; // Not used
$wf-light-1: #2a4158;
$wf-light-2: #2a3543;

$black: #000000;
$wf-grey: #888888;
$wf-white: #bebebe;
$wf-silver: #cccccc; // Brighter white
$white: #ffffff;
$silver: #efefef;
$wf-red: red;  //TODO
$wf-yellow: #deec11;
$wf-blue: #40c4ff;
$wf-blue-dark: #009fc7;

//
//  Style controller
// 
$color-item-checked: $wf-color-2;
$color-item-unchecked: $wf-light-1;
$border-color: $wf-light-2;
$color-yellow: $wf-yellow;
$color-red: $wf-red;
$color-blue: $wf-blue;
$background-color: $wf-color-darkest;
$link-color: $wf-blue;
$primary-color: $wf-blue;
$body-font-color-darker: $wf-grey;
$body-font-color: $wf-white;
$body-font-color-bright: $wf-silver;
$reveal-modal-bg: $wf-color-2;
$reveal-border-color: $border-color;
$button-bg-color: scale-color($link-color, $lightness: -30%);
$button-bg-hover: scale-color($link-color, $lightness: -14%);
$nav-bg-hover: $background-color;
$nav-color: $link-color;
$nav-bg: $background-color;
$nav-color-hover: $white;
$nav-color-active: $link-color;
$nav-color-active-hover: $link-color;
